@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: auto;
  height: auto;
}

.pokemon-animation .pokemon-name {
  display: flex;
  align-items: center;
  top: 0;
  transform: translateY(50%);
  height: 218px;
  transition: 0.5s;
}

.pokemon-animation:hover .pokemon-name {
  transform: translateY(70%);
}

.pokemon-animation .pokemon-img {
  top: 0;
  transform: translateY(10%);
  transition: 0.5s;
}

.pokemon-animation:hover .pokemon-img {
  transform: translateY(-10%);
}

.bg-rock {
  background-color: #b6a136;
}
.bg-ghost {
  background-color: #735797;
}
.bg-electric {
  background-color: #f7d02c;
  color: black;
}
.bg-bug {
  background-color: #a6b91a;
}
.bg-poison {
  background-color: #a33ea1;
}
.bg-normal {
  background-color: #a8a77a;
  color: black;
}
.bg-fairy {
  background-color: #d685ad;
}
.bg-fire {
  background-color: #ee8130;
}
.bg-grass {
  background-color: #7ac74c;
}
.bg-water {
  background-color: #6390f0;
}
.bg-flying {
  background-color: #a98ff3;
}
.bg-fighting {
  background-color: #c22e28;
}
.bg-ice {
  background-color: #96d9d6;
}

.bg-ground {
  background-color: #e2bf65;
}

.bg-dragon {
  background-color: #6f35fc;
}

.bg-dark {
  background-color: #705746;
}

.bg-steel {
  background-color: #b7b7ce;
}

.bg-psychic {
  background-color: #f95587;
}
